.habilidades {
    margin: 2rem 16px;
}

.habilidades__titulo {
    font-family: menlo-regular;
    font-size: 1.7rem;
    margin: 1rem;
    text-align: center;
}

.habilidades__tipos {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.habilidades__tipo {
    align-items: center;
    background: var(--color-gris);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-family: Jet-breins-mono;
    font-size: 1rem;
    height: 9rem;
    justify-content: center;
    margin: 0 auto;
    width: 9rem;
}

.habilidades__img {
    background-color: var(--color-rosa);
    border-radius: 20%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 3rem;
}

/* reponsivo tablet */
@media screen and (min-width:758px) {
    

    .habilidades__tipos {
        grid-template-columns: repeat(3,1fr);
    }
}

/* reponsivo desktop */
@media screen and (min-width:1280px) {
    .habilidades__titulo {
        font-size: 1.7rem;
    }

    .habilidades__tipos {
        width: 90%;
    }

    .habilidades__tipo {
        align-items: flex-start;
        border-radius: 1rem;
        font-size: 1.2rem;
        height: 12rem;
        padding: 1rem;
        width: 20rem;
    }
}