.hamburger {
    background-color: var(--color-verde);
    border-radius: 5rem;
    bottom: 0;
    display:flow;
    height: 5rem;
    margin: 10px;
    position: fixed;
    right: 0;
    width: 5rem;
    z-index: 91;
}

@media screen and (min-width:1280px) {
    .hamburger{
        display: none;
    }
}